*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../1.png);
	background-position: center;
	background-size: cover;
	position: relative;
}
.logo img{
	float: left;
	width: 150px;
	height: auto;
}
nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: red;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}
.text-box{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.text-box h1{
	font-size: 62px;
}
.text-box p{
	margin: 10px 0 40px;
	font-size: 14px;
	color: #fff;
}
.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.hero-btn:hover{
	border: 1px solid red;
	background: red;
	transition: 1s;
}
.footer{
	width: 100%;
	text-align: center;
	padding: 30px 0;
	background-color: tan;
}
.footer h4{
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
}
.fa-facebook-f{
	color: blue;
	cursor: pointer;
	padding: 18px 0;
}
.fa-discord{
    color: #7289d9;
    cursor: pointer;
	padding: 18px 0;
}
.fa-instagram{
	color: red;
	cursor: pointer;
	padding: 18px 0;
}
.fa-telegram{
	color: skyblue;
	cursor: pointer;
	padding: 18px 0;
}

/*----------- about us --------*/

.sub-header{
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../3.png);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}
.about-us{
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../2.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}
.about-col{
	flex-basis: 48%;
	padding: 30px 2px;
}
/*-----------Server IP-------------*/

.serv-header{
	height: 80vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../3.png);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}
.serv-header h1{
	margin-bottom: 100px;
	font-size: 40px;
	color: #fff;
}
.serv-header p{
	margin-bottom: 80px;
	font-size: 60px;
	color: #fff;
	font-style: italic;
}

/*--------------Join us on--------------*/

.serv2-header{
	height: 80vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../3.png);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}
.serv2-header h1{
	margin-bottom: 100px;
	font-size: 40px;
	color: #fff;
}
